figure.profileContainer {
  font-family: 'Poiret One', cursive;
  position: relative;
  align-items: center;
  display: inline-block;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.profileContainer * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.profileContainer img {
  opacity: 0.25;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.profileContainer figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.profileContainer figcaption containerTitleName {
  top: 50%;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
  font-size: 25;
}

figure.profileContainer figcaption:before,
figure.profileContainer figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.profileContainer figcaption:before {
  left: 0;
  top: 0;
}

figure.profileContainer figcaption:after {
  bottom: 0;
  right: 0;
}

figure.profileContainer.profileContainerOverlay {
  background: #999999;
}

figure.profileContainer a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.profileContainer:hover img,
figure.profileContainer.hover img {
  opacity: 1;
}

figure.profileContainer:hover figcaption,
figure.profileContainer.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.profileContainer:hover figcaption:before,
figure.profileContainer.hover figcaption:before,
figure.profileContainer:hover figcaption:after,
figure.profileContainer.hover figcaption:after {
  width: 200%;
}